[submodule "color"]
	path = shards/color
	url = https://github.com/crystal-term/color.git
[submodule "cursor"]
	path = shards/cursor
	url = https://github.com/crystal-term/cursor.git
[submodule "prompt"]
	path = shards/prompt
	url = https://github.com/crystal-term/prompt.git
[submodule "reader"]
	path = shards/reader
	url = https://github.com/crystal-term/reader.git
[submodule "screen"]
	path = shards/screen
	url = https://github.com/crystal-term/screen.git
[submodule "spinner"]
	path = shards/spinner
	url = https://github.com/crystal-term/spinner.git
[submodule "terminfo"]
	path = shards/terminfo
	url = https://github.com/crystal-term/terminfo.git
